@charset "UTF-8";

#navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10000;
}

#sidebar {
	position: fixed;
	top: 56px;
	padding-left: 15px;
	width: 12%;
	height: 100px;
	overflow-y: scroll;
	text-overflow: ellipsis;
}

.noun {
	width: 30px;
}

#sidebar::-webkit-scrollbar {
	width: 10px;
	display: none;
}

#sidebar:hover::-webkit-scrollbar {
	width: 10px;
	display: block;
}

#sidebar::-webkit-scrollbar-thumb {
	background-color: #565454;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

#sidebar::-webkit-scrollbar-track {
	background-color: #F8F9FA;
	border-radius: 10px;
}

hr {
	width: 96%;
	height: 1px;
}

body::-webkit-scrollbar {
	width: 10px;
	display: block;
}

body::-webkit-scrollbar-thumb {
	background-color: #565454;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
	background-color: #F8F9FA;
	border-radius: 10px;
}

#main {
	margin-top: 60px;
	padding-left: 130px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}